<?php

use Twig\Template;

$_ENV = [
  'app' => [
    'name'        => 'Slender',
    'description' => 'Developer-friendly, low-level, rapid web development environment based on Slim framework',
    'version'     => 'v0.2.2.2',
    'keywords'    => 'slim, mvc, php-di, twig, eloquent, swift-mailer, carbon, intervention-image, parsedown, rakit-validation, halfmoon, admin-panel, account-management',
    'author'      => 'Enindu Alahapperuma (enindu@gmail.com)',
    'url'         => 'http://localhost',
    'timezone'    => 'Asia/Colombo',
    'charset'     => 'UTF-8',
    'key'         => '',
    'cookie'      => [
      'admin' => '',
      'user'  => ''
    ]
  ],
  'image' => [
    'driver' => 'gd'
  ],
  'database' => [
    'driver'    => 'mysql',
    'host'      => 'localhost',
    'database'  => '',
    'username'  => '',
    'password'  => '',
    'charset'   => 'utf8',
    'collation' => 'utf8_unicode_ci',
    'prefix'    => ''
  ],
  'view' => [
    'debug'               => true,
    'charset'             => 'UTF-8',
    'base-template-class' => Template::class,
    'cache'               => __DIR__ . '/../cache/views',
    'auto-reload'         => true,
    'strict-variables'    => true,
    'auto-escape'         => 'html',
    'optimizations'       => -1
  ],
  'mailer' => [
    'host'     => '',
    'port'     => '',
    'username' => '',
    'password' => ''
  ],
  'markdown' => [
    'safe-mode' => true
  ],
  'middleware' => [
    'session' => [
      'name'      => 'slender',
      'lifetime'  => 0,
      'path'      => '/',
      'domain'    => '',
      'secure'    => false,
      'http-only' => false
    ]
  ]
];
