APP_NAME=""
APP_DESCRIPTION=""
APP_KEYWORDS=""
APP_AUTHOR=""
APP_URL=""
APP_TIMEZONE=""
APP_CHARSET=""
APP_KEY=""

ERROR_DISPLAY_ERROR_DETAILS="true"
ERROR_LOG_ERRORS="true"
ERROR_LOG_ERROR_DETAILS="true"

VIEW_DEBUG="true"
VIEW_CHARSET="${APP_CHARSET}"
VIEW_AUTO_RELOAD="true"
VIEW_STRICT_VARIABLES="true"
