APP_NAME=""
APP_DESCRIPTION=""
APP_KEYWORDS=""
APP_AUTHOR=""
APP_URL=""
APP_TIMEZONE=""
APP_CHARSET=""
APP_KEY=""

VIEW_DEBUG="true"
VIEW_CHARSET="${APP_CHARSET}"
VIEW_AUTO_RELOAD="true"
VIEW_STRICT_VARIABLES="true"
