APP_NAME="Slender 0.1.0-dev"
APP_DESCRIPTION="Rapid web development environment"
APP_KEYWORDS="php, framework"
APP_AUTHOR="Enindu Alahapperuma (enindu@gmail.com)"
APP_URL="http://localhost"
APP_TIMEZONE="Asia/Colombo"
APP_CHARSET="UTF-8"
APP_KEY=""

SESSION_LIFETIME="0"
SESSION_PATH="/"
SESSION_DOMAIN=""
SESSION_SECURE="false"
SESSION_HTTP_ONLY="false"
SESSION_NAME="slender"
SESSION_AUTO_REFRESH="false"

IMAGE_DRIVER="gd"

DATABASE_DRIVER="mysql"
DATABASE_HOST="localhost"
DATABASE_DATABASE=""
DATABASE_USERNAME=""
DATABASE_PASSWORD=""
DATABASE_CHARSET="utf8"
DATABASE_COLLATION="utf8_unicode_ci"
DATABASE_PREFIX=""

VIEW_DEBUG="true"
VIEW_CHARSET="${APP_CHARSET}"
VIEW_AUTO_RELOAD="true"
VIEW_STRICT_VARIABLES="true"

EMAIL_HOST=""
EMAIL_PORT=""
EMAIL_USERNAME=""
EMAIL_PASSWORD=""

ERROR_DISPLAY_ERROR_DETAILS="true"
ERROR_LOG_ERRORS="true"
ERROR_LOG_ERROR_DETAILS="true"
