<IfModule mod_rewrite.c>
  # Rewrite engine
  RewriteEngine On

  # Redirect
  #RewriteCond %{HTTP_HOST} !=""
  #RewriteCond %{HTTP_HOST} !^www\. [NC]
  #RewriteCond %{HTTPS}s ^on(s)|
  #RewriteRule ^ http%1://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

  # Tailing slash
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} (.+)/$
  RewriteRule ^ %1 [R,L]

  # Files
  RewriteRule /?\.config$ - [F,L]
  RewriteRule /?\.gitignore$ - [F,L]
  RewriteRule /?\.htaccess$ - [F,L]
  RewriteRule /?\.json$ - [F,L]
  RewriteRule /?\.lock$ - [F,L]
  RewriteRule /?\.md$ - [F,L]

  # Directories
  RewriteRule ^app/.* index.php [F,L]
  RewriteRule ^cache/.* index.php [F,L]
  RewriteRule ^containers/.* index.php [F,L]
  RewriteRule ^sources/.* index.php [F,L]
  RewriteRule ^vendor/.* index.php [F,L]

  # Standard route
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.php [QSA,L]
</IfModule>
