{% extends "@admin/layouts/base-1.twig" %}

{% set id = "accounts.logout" %}
{% set title = "Logout | Accounts" %}

{% block content %}
<div class="card">
  <div class="card-header">
    <div class="card-title h4">Logout</div>
    <div class="card-subtitle text-gray">Logout from your account</div>
  </div>
  <div class="card-body">
    <form action="{{ "/admin/accounts/logout"|page }}" method="post">
      <div class="form-group">
        <span>Are you sure, you want to logout?</span>
      </div>
      <div class="text-right">
        <a href="#" class="btn btn-primary" onclick="window.history.go(-1);">Go Back</a>
        <button class="btn btn-error">Logout</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
