<?php

$_ENV = [
    "app" => [
        "name"         => "",
        "description"  => "",
        "keywords"     => "",
        "author"       => "",
        "email"        => "",
        "phone"        => "",
        "address"      => "",
        "social_media" => [
            "twitter"   => "",
            "facebook"  => "",
            "instagram" => "",
            "linkedin"  => "",
            "youtube"   => ""
        ]
    ],
    "settings" => [
        "debug"    => true,
        "log"      => true,
        "charset"  => "",
        "version"  => "",
        "domain"   => "",
        "url"      => "",
        "timezone" => "",
        "key"      => "",
        "cookie"   => [
            "secure"    => true,
            "http_only" => true,
            "same_site" => "",
            "name"      => [
                "session"       => "",
                "admin"         => "",
                "user"          => "",
                "shopping_cart" => ""
            ]
        ]
    ]
];
