<?php

use Twig\Template;

$_ENV = [
  "app" => [
    "name"        => "Slender",
    "description" => "Developer-friendly, low-level, rapid web development environment, based on Slim framework",
    "keywords"    => "php, slender, slim, php-di, eloquent, twig, swift-mailer, parsedown",
    "version"     => "v0.3.3",
    "author"      => "Enindu Alahapperuma (enindu@gmail.com)",
    "domain"      => "",
    "url"         => "",
    "timezone"    => "Asia/Colombo",
    "charset"     => "UTF-8",
    "key"         => "",
    "cookie"      => [
      "admin" => "",
      "user"  => ""
    ]
  ],
  "eloquent" => [
    "driver"    => "mysql",
    "host"      => "localhost",
    "database"  => "",
    "username"  => "",
    "password"  => "",
    "charset"   => "utf8",
    "collation" => "utf8_unicode_ci",
    "prefix"    => ""
  ],
  "twig" => [
    "debug"               => true,
    "charset"             => "UTF-8",
    "base-template-class" => Template::class,
    "cache"               => __DIR__ . "/../cache/views",
    "auto-reload"         => true,
    "strict-variables"    => true,
    "auto-escape"         => "html",
    "optimizations"       => -1
  ],
  "swift-mailer" => [
    "host"     => "",
    "port"     => "",
    "username" => "",
    "password" => ""
  ],
  "parsedown" => [
    "safe-mode" => true
  ],
  "image" => [
    "driver" => "gd"
  ],
  "middleware" => [
    "session" => [
      "name"       => "",
      "lifetime"   => 0,
      "path"       => "/",
      "domain"     => "",
      "secure"     => false,
      "http-only"  => true,
      "sid-length" => 32
    ]
  ]
];
