<?php

$_ENV = [
    "app" => [
        "name"         => "",
        "description"  => "",
        "version"      => "",
        "keywords"     => "",
        "author"       => "",
        "email"        => "",
        "phone"        => "",
        "address"      => "",
        "social_media" => [
            "twitter"   => "",
            "facebook"  => "",
            "instagram" => "",
            "linkedin"  => "",
            "youtube"   => ""
        ]
    ],
    "settings" => [
        "debug"    => true,
        "log"      => true,
        "domain"   => "",
        "url"      => "",
        "timezone" => "",
        "key"      => "",
        "database" => [
            "host"     => "",
            "database" => "",
            "username" => "",
            "password" => ""
        ],
        "email" => [
            "encryption" => "",
            "host"       => "",
            "port"       => "",
            "username"   => "",
            "password"   => ""
        ],
        "cookie" => [
            "secure"    => true,
            "http_only" => true,
            "same_site" => "",
            "name"      => [
                "session"       => "",
                "account"       => "",
                "shopping_cart" => ""
            ]
        ]
    ]
];
