{% extends "@common/layouts/sub-2.twig" %}

{% set id = "message" %}
{% set title = "Message" %}

{% block sub_content %}
<div class="font-size-100">
  <i class="fa fa-exclamation-circle"></i>
</div>
<div class="font-size-18 mb-20">
  {{ message }}
</div>
<div class="text-center">
  <a href="#" id="back" class="btn">
    <i class="fa fa-check mr-5"></i> OK
  </a>
</div>
{% endblock %}
