html, body {
  font-family: sans-serif !important;
}

textarea {
  resize: none;
}

.banner {
  background-image: url(../images/banner.svg);
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid rgba(0, 0 ,0, 0.2);
  height: 600px;
}

.navbar-brand img {
  height: 30px;
  width: 30px;
}
