{% extends "template/layouts/sub-2.twig" %}

{% set id = "message" %}
{% set title = "Message" %}

{% block sub_content %}
<div class="font-size-100">
    <i class="fa fa-info-circle"></i>
</div>
<div class="mb-20">{{ message }}</div>
<div class="text-center">
    <button id="back" class="btn">
        <i class="fa fa-check mr-5"></i> OK
    </button>
</div>
{% endblock %}
